<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- MATERIAL -->
    <material name="silver">
        <color rgba="0.700 0.700 0.700 1.000" />
    </material>

    <material name="gold" >
        <color rgba="0.859 0.706 0.047 1.000" />
    </material>

    <material name="blue">
        <color rgba="0.200 0.200 1.000 1.000" />
    </material>

    <material name="black">
        <color rgba="0.000 0.000 0.000 1.000" />
    </material>

</robot>