<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:include filename="$(find tarobot_one)/description/urdf/my_robot.xacro" />
    
    <xacro:include filename="$(find tarobot_one)/description/urdf/camera.xacro" />
    <xacro:include filename="$(find tarobot_one)/description/urdf/lidar_ld19.xacro" />
    <xacro:include filename="$(find tarobot_one)/description/urdf/imu_bno055.xacro" />

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="4wheel_diff.xacro" />
    </xacro:unless>

</robot>