<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="$(find tarobot_one)/description/urdf/my_robot.xacro" />
    <xacro:include filename="$(find tarobot_one)/description/urdf/properties.xacro" />
    
    <xacro:include filename="$(find tarobot_one)/description/urdf/camera.xacro" />
    <xacro:include filename="$(find tarobot_one)/description/urdf/lidar_ld19.xacro" />
    <xacro:include filename="$(find tarobot_one)/description/urdf/4wheel_diff.xacro" />

</robot>